.om-oss-container {
  padding: 5% 5% 5%;
  background-image: url("/public/om-oss-img.png");
  height: 110vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-wrapper > * {
  background-color: transparent !important;
}

.om-oss-img {
  width: 90%;
  border-radius: 10px;
}

.p-om-oss {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

.justify-content-col {
  justify-content: center;
}

.padding-col {
  padding: 0;
}

@media (min-width: 768px) {
  .om-oss-container {
    padding: 0.2% 5% 5%;
    /* height: 1050px; */
  }
}

/* @media (min-width: 820px) {
  .om-oss-container {
    height: 1200px;
  }
} */

@media (min-width: 1024px) {
  .om-oss-container {
    /* margin-top: 1%; */
    background-image: url("/public/om-mig-img-2.png");
    padding: 0.2% 5% 5%;
    /* height: 1400px; */
  }
}

@media (min-width: 1200px) {
  .om-oss-container {
    /* margin-top: 1%; */
    padding: 0.5% 5% 5%;
    height: 130vh;
  }

  .om-oss-img {
    width: 85%;
  }

  .padding-col {
    padding-right: 0;
  }

  .justify-content-col {
    justify-content: end;
  }
}

@media (min-width: 1700px) {
  .p-om-oss {
    font-size: 20px;
  }
}
