.om-container {
  padding: 0 5% 10%;
}

.p-om {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 13px;
}

.p1-om {
  text-align: justify;
  font-size: 13px;
}

.om-link {
  color: #3f3b36;
}

.col-om-mig {
  display: flex;
  justify-content: center;
}

.col-om-mig-1 {
  display: flex;
  justify-content: center;
}

.om-mig-img-1 {
  border-radius: 10px;
  width: 100%;
}

.custom-marg {
  margin-top: 4%;
}

@media (min-width: 768px) {
  .om-container {
    padding: 0 5% 5%;
  }

  .p-om {
    font-size: 14px;
  }

  .p1-om {
    font-size: 14px;
  }

  .om-mig-img {
    width: 90%;
  }

  .col-om-mig {
    justify-content: end;
  }

  .row-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-marg {
    margin-top: 2%;
  }
}

@media (min-width: 1024px) {
  .om-mig-img-1 {
    width: 70%;
  }

  .p-om {
    font-size: 16px;
  }

  .p1-om {
    font-size: 16px;
  }

  .row-custom {
    align-items: flex-end;
  }
}
