.img_cnstr {
  width: 10%;
  display: flex;
  margin: 2% auto 0;
}

.img1_cnstr {
  width: 27%;
  display: flex;
  margin: 3% auto 0;
}

.h1_cnstr {
  margin: 3% 0;
  text-align: center;
}

.p_cnstr {
  text-align: center;
}

a {
  color: #3f3b36;
}

@media (max-width: 576px) {
  .img_cnstr {
    width: 30%;
  }

  .img1_cnstr {
    width: 90%;
    margin: 20% auto 0;
  }

  .h1_cnstr {
    margin: 15% 0 10%;
  }
}
