@font-face {
  font-family: "ITC Benguiat";
  src: url("fonts/BenguiatStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "ITC Benguiat", serif;
  color: #3f3b36;
  background-color: #eae5db;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

@media (max-width: 576px) {
  p {
    font-size: 16px;
  }
}
