.klientroster-container {
  padding: 0 5% 0;
  margin-top: 5%;
}

.klientroster-container .slick-slider {
  position: relative;
  width: 90%;
  margin: 5% auto;
}

.klientroster-container .slick-list {
  margin: 0 5% 0 6%;
  transition: height 0.5s ease;
}

.klientroster-container .slick-slide {
  height: auto;
}

.klientroster-container .slick-slide > div {
  height: auto;
}

.klientroster-container .slick-prev,
.klientroster-container .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev:before {
  content: url("../../public/arrow-prev.png");
}

.slick-next:before {
  content: url("../../public/arrow-next.png");
}

.p-klientroster {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 13px;
}

.h2-klientroster {
  margin-top: 8%;
  text-align: right;
}

@media (min-width: 768px) {
  .klientroster-container {
    padding: 0 5% 0;
  }

  .slick-slider {
    width: 70%;
  }

  .p-klientroster {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .p-klientroster {
    font-size: 16px;
  }
}

@media (min-width: 1700px) {
  .p-klientroster {
    font-size: 20px;
  }
}
